@import "src/styles/global/variables";

table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  caption {
    font-size: 24px;
    margin: 10px auto;
  }

  th {
    font-weight: normal;
    text-transform: uppercase;
    background: $yellow;
    padding: 14px;
    text-align: center;
  }

  td {
    padding: .625em;
    text-align: center;
  }

  tr {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    padding: .35em;

    &:nth-child(odd) {
      background: $grey;
    }
  }
}

@media screen and (max-width: 900px) {
  table {
    border: 0;
  }

  table caption {
    //font-size: 1.3em;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #dddddd;
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
